@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Marck+Script&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --white-green: rgb(242, 255, 211);
}

body {
  padding: 0.5em 4em;
  background-color: #0f0621;
  color: var(--white-green);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 2em;
}

svg.svg-portrait {
  overflow: visible;
  height: inherit;
}
.svg-portrait #left-index {
	transform-origin: 66.5% 58%;
}
.svg-portrait #left-middle-finger {
	transform-origin: 70% 60%;
}

header h1 {
  text-align: center;
  font-size: 3em;
}

section,
.footer-contact {
  margin-bottom: 3em;
}

.section-a-propos {
  display: flex;
  justify-content: center;
}

.article-a-propos {
  width: 80%;
  padding: 1em 2em;
  border-radius: 8px;
  border: 1px solid var(--white-green);
}

.article-a-propos > h2 {
  text-indent: 0.5em;
}

.my-icon {
  width: 32px;
  height: 32px;
  vertical-align: top;
}

.my-icon > g {
  fill: var(--white-green);
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  width: 250px;
  padding: 0.5em 1em;
  border-radius: 8px;
  border: 1px solid var(--white-green);
  margin-bottom: 0.5em;
}

.project:not(:last-child) {
  margin-right: 0.5em;
}

.project > h3 {
  text-align: center;
}

.project > div > img {
  width: 100%;
}

.project-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-footer a {
  text-decoration: none;
}

.project-anchor-demo {
  color: rgb(5, 252, 219);
}

.project-anchor-repo {
  color: rgb(211, 5, 252);
}

.snippet-container {
  margin: 0 2em;
}

.snippet {
  max-width: 280px;
  margin: 2em auto 1.5em;
  text-align: center;
  border-top: 1px solid var(--white-green);
  border-bottom: 1px solid var(--white-green);
}

.codepen-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cp_embed_wrapper {
  width: 400px;
}

.codepen-div:not(:last-child) {
  margin-bottom: 1em;
}

.codepen {
  height: 265px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 1em 0;
  padding: 1em;
}

iframe[title="totoro"] {
  width: 454px;
  height: 454px;
}

.section-border {
  border-bottom: 1px solid var(--white-green);
  padding-bottom: 1em;
  text-indent: 0.5em;
}

h2 .article-parentheses {
  font-size: 16px;
}

.article-title {
  text-decoration: none;
  color: rgb(0, 153, 255);
}

.article-title:hover {
  color: rgb(2, 106, 175);
}

.footer-contact {
  margin-top: 4em;
}

.footer-contact > .container {
	border-top: 1px solid var(--white-green);
	padding-top: 1em;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.footer-div {
  display: flex;
  justify-content: space-evenly;  
}

.footer-ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  max-width: 100%;
}

.footer-ul a .my-icon {
  width: 50px;
  height: 50px;
}

.footer-ul a .my-icon > g {
  fill: var(--white-green);
  transition: fill 1s ease-out;
}

.footer-ul div:hover li a .my-icon > g {
  fill: rgb(5, 202, 252);
}

.signature {
  text-align: center;
  font-family: 'Marck Script', cursive;
  font-size: 2em;
}

@media (max-width: 768px) {
  body {
    padding: 0.5em;
  }

  header {
    flex-direction: column-reverse;
  }

  header h1 {
    font-size: 2em;
  }

  .cp_embed_wrapper {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  header {
    flex-direction: column-reverse;
  }
}

@media (max-width: 1000px) {
  .svg-portrait {
    width: 100vw;
  }
}

@media (orientation: landscape) and (max-width: 812px) {
  header {
    flex-direction: row;
  }
  .svg-portrait {
    width: 100vmin;
  }
}



