* {
  box-sizing: border-box;
}

:root {
  --white-green: rgb(242, 255, 211);
}

body {
  padding: 0.5em 4em;
  background-color: #0f0621;
  color: var(--white-green);
}

header {
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
}

.svg-portrait {
  overflow: visible;
}

header h1 {
  text-align: center;
  font-size: 3em;
}

section, .footer-contact {
  margin-bottom: 2em;
}

.section-a-propos {
  display: flex;
  justify-content: center;
}
/* .article-a-propos {
  width: 80%;
  background-color: var(--white-green);
  color: #0f0621;
  padding: 1em 2em;
  border-radius: 8px;
} */

.article-a-propos {
  width: 80%;
  padding: 1em 2em;
  border-radius: 8px;
  border: 1px solid var(--white-green);
}

.projects {
  display: flex;
}

.project {
  padding: 0.5em 1em;
  border-radius: 8px;
  border: 1px solid var(--white-green);
}

.project:not(:last-child){
  margin-right: 0.5em;
}

.project-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-footer a {
  text-decoration: none;
}

.project-anchor-demo {
  color: rgb(5, 252, 219);
}

.project-anchor-repo {
  color: rgb(211, 5, 252);
}

.section-border {
  border-bottom: 1px solid var(--white-green);
  padding-bottom: 1em;
}

.article-title {
  text-decoration: none;
  color: rgb(0, 153, 255);
}

.article-title:hover {
  color: rgb(2, 106, 175);
}

.footer-ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  max-width: 100%;
}

.footer-ul a {
  color: var(--white-green);
  transition: color 1s ease-out;
}

.footer-ul div:hover li a{
  color: rgb(5, 202, 252);
}

@media (max-width:768px) {
  body {
    padding: 0.5em;
  }

  header {
    flex-direction: column-reverse;
  }

  header h1 {
    font-size: 2em;
  }
}