* {
  box-sizing: border-box;
}

:root {
  --white-green: rgb(242, 255, 211);
}

body {
  padding: 0.5em 4em;
  background-color: #0f0621;
  color: var(--white-green);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

svg.svg-portrait {
  overflow: visible;
  /* width: 50vh; */
  height: inherit;
}

header h1 {
  text-align: center;
  font-size: 3em;
  /* align-self: center; */
}

section,
.footer-contact {
  margin-bottom: 2em;
}

.section-a-propos {
  display: flex;
  justify-content: center;
}
/* .article-a-propos {
  width: 80%;
  background-color: var(--white-green);
  color: #0f0621;
  padding: 1em 2em;
  border-radius: 8px;
} */

.article-a-propos {
  width: 80%;
  padding: 1em 2em;
  border-radius: 8px;
  border: 1px solid var(--white-green);
}

.article-a-propos > h2 {
  text-indent: 0.5em;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  width: 250px;
  padding: 0.5em 1em;
  border-radius: 8px;
  border: 1px solid var(--white-green);
  margin-bottom: 0.5em;
}

.project:not(:last-child) {
  margin-right: 0.5em;
}

.project > h3 {
  text-align: center;
}

.project > div > img {
  width: 100%;
}

.project-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-footer a {
  text-decoration: none;
}

.project-anchor-demo {
  color: rgb(5, 252, 219);
}

.project-anchor-repo {
  color: rgb(211, 5, 252);
}

.codepen-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cp_embed_wrapper {
  width: 400px;
}

.codepen {
  height: 265px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 1em 0;
  padding: 1em;
}

iframe[title="totoro"] {
  width: 454px;
  height: 454px;
}

.section-border {
  border-bottom: 1px solid var(--white-green);
  padding-bottom: 1em;
  text-indent: 0.5em;
}

h2 .article-parentheses {
  font-size: 16px;
}

.article-title {
  text-decoration: none;
  color: rgb(0, 153, 255);
}

.article-title:hover {
  color: rgb(2, 106, 175);
}

.footer-ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  max-width: 100%;
}

.footer-ul a {
  color: var(--white-green);
  transition: color 1s ease-out;
}

.footer-ul div:hover li a {
  color: rgb(5, 202, 252);
}

@media (max-width: 768px) {
  body {
    padding: 0.5em;
  }

  header {
    flex-direction: column-reverse;
  }

  header h1 {
    font-size: 2em;
  }

  .cp_embed_wrapper {
    width: 100%;
  }
}

@media (orientation: landscape) {
  header {
    flex-direction: row;
  }
}
